.container-filter{
   display: flex;
   flex-direction: column;
   align-items: center;
    padding-top: 15px;
    padding-bottom: 50px;
    &__logo{
        
        height: 50px;
    }
    &__form{
        margin-top: 10px;
        margin-bottom: 70px;
        margin-left: 20px;
        &__select{
            color: #535252;
            width: 150px;
            margin-left: 10px;
            background-color: #F0EFEE;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-family: 'Rubik', sans-serif;
            display: inline-block;
            outline: 0;
        }
        
    }
    &__title-enjoy{
        width: 200px;
        background-color: #F0EFEE;
        font-weight: 400;
        margin-bottom: 0;
        margin: 0 100px;
        padding: 0 150px 20px 0;
        &::first-letter{
            font-size: 40px;
            color: #e85435;
        }
        
    }
    
    &__img-concert{
        width: 350px;
        margin: 0 100px;
        border-radius: 10px;
    }
}
@media all and (min-width: 600px) {
    .container-filter {
        &__form{
            text-align: center;
            &__select{
                margin-top: 15px;
            }
        }
        flex-direction: row;
        &__title-enjoy{
            width: 100%;
            margin: 0 150px;
        }
        
        &__img-concert{
            border-right: #F0EFEE 100vw solid;
            margin: 0 150px;
        }
       
    }
  }

